// .bushalte {
//     @extend .border-left !optional; 
//     @extend .border-3 !optional; 
//     @extend .border-dark !optional;
// }

// .bushalte:before {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     width: 23px;
//     height: 23px;
//     margin-left: -13px;
//     margin-top: 15px;
//     border-radius: 50%;
//     border: 3px solid black;
//     background-color: white;
//     z-index:1;
// }

// .bushalte:last-child{
//     padding-bottom:0 !important;
// }

// ::ng-deep .custom-slider
.zoom {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {  background-color: white;}
    30% { background-color: #FFCD00;}
    70% { background-color: #FFCD00;}
    100% { background-color: white;}
}