

@import '../../../../scss/custom-variables';
@import '../../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../../scss/custom-styles';

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: $dark;
        border-radius: 0;
        // transform: scaleX(2);
        transition: transform 0.4s ease-in-out;
    }

    .custom-slider .ng5-slider .ng5-slider-selection {
      background: $primary;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 16px;
      height: 16px;
      margin-left:8px;
      top: auto; /* to remove the default positioning */
    //   bottom: 0;
      border: 3px solid $dark;
      background-color: #ffffff;
      @extend .shadow;
      // opacity:0;
      // transition: opacity .30s ease-in-out;
    //   border: 50%;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    // .custom-slider .ng5-slider .ng5-slider-bubble {
    //   bottom: 14px;
    // }
  
    // .custom-slider .ng5-slider .ng5-slider-limit {
    //   font-weight: bold;
    //   color: orange;
    // }
  
    // .custom-slider .ng5-slider .ng5-slider-tick {
    //   width: 1px;
    //   height: 10px;
    //   margin-left: 4px;
    //   border-radius: 0;
    //   background: #ffe4d1;
    //   top: -1px;
    // }
  
    // .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    //   background: $primary;
    // }
  }

  // :host:hover::ng-deep {
  //   .custom-slider .ng5-slider .ng5-slider-pointer {
  //       opacity: 1;

  //   }
  //   .custom-slider .ng5-slider .ng5-slider-bar {
  //         // transform: scaleX(1);
  //     }
  // }