/* The switch - the box around the slider */
@import '../../../scss/custom-variables';

.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: $secondary;
}

input:checked+.slider:before {
    transform: translateX(15px);

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.square {
    padding: 0.5rem;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    transition: all 0.4s ease-in;
}

tr:hover td div div  {
    div {
        color: $dark !important;
    }
}