.indicator {
    width: 10px;
    height: 40px;
    min-width: 10px;
    min-height: 40px;
    max-width: 10px;
    max-height: 40px;
    transition: all 2s;
}

.indicator-na {
    // @include indicator;
    background: $secondary;
    background-image: repeating-linear-gradient( 45deg, $secondary, $secondary 4px, #ffffff 4px, #ffffff 8px);
}

.indicator-no {
    // @include indicator;
    background: $secondary;
}

.indicator-nofill {
    // @include indicator;
    border: 2px solid #acacac;
}

.indicator-yes-1 {
    // @include indicator;
    @extend .bg-dark;
    background-image: linear-gradient(
        0, 
        $primary 10%, 
        transparent 10%,
        transparent 90%
    );
}

.indicator-yes-2 {
    // @include indicator;
    @extend .bg-dark;
    background-image: linear-gradient(
        0, 
        $primary 33%, 
        transparent 33%,
        transparent 66%
    );
}

.indicator-yes-3 {
    // @include indicator; 
    @extend .bg-dark;
    background-image: linear-gradient(
        0, 
        $primary 66%, 
        transparent 66%,
        transparent 33%
    );
}

.indicator-yes-4 {
    // @include indicator;
    @extend .bg-primary;
}