<div *ngIf="loaded$ | async">


        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand"
               routerLink="/"><img src="../../../assets/icons/Equality.svg"
                     style="width:60px;" /></a>
            <div class="collapse navbar-collapse"
                 id="navbarText">
    
                <span class="navbar-text ml-auto">
                    <div ngbDropdown
                         class="dropdown">
                        <a class="cursor-pointer"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           ngbDropdownToggle>
                            {{user.displayName}} <span class="mdi mdi-account-circle"></span>
                        </a>
    
                        <div ngbDropdownMenu
                             class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               (click)="logout()">{{ 'LOGOUT' | translate }}</a>
                        </div>
                    </div>
                </span>
            </div>
        </nav>
    
        <div class='container'>
            <div class="row">
                <div class="my-4">
                    <h2>{{ courseData.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="flex-even mr-1"></div>
                <div class="flex-even"
                     *ngFor="let phase of courseData.phases; let i = index; trackBy:trackSelectionsByassessmentPhases">
                    <div class="bold mx-2 font-weight-bold text-center text-uppercase mb-2 cursor-pointer"
                         placement="bottom"
                         #emptystate
                         (click)="selectedEmptyStatePhase = phase;"
                         [ngbPopover]="popContent">
                        {{ phase.title }}
                    </div>
    
                </div>
                <div class="flex-even ml-1"></div>
            </div>
    
            <div class="row"
                 *ngIf="courseData.assessments.length == 0">
                <div class="flex-even bg-primary mr-1"></div>
                <div class="flex-even mx-1"
                     *ngFor="let phase of courseData.phases; let i = index; trackBy:trackSelectionsByassessmentPhases">
                    <ng-container *ngTemplateOutlet="popContent; context:{phase:phase}"></ng-container>
                </div>
                <div class="flex-even bg-primary ml-1"></div>
            </div>
    
            <ng-template #popContent
                         let-phase="phase">
                <div class="card h-100 px-1 pt-3">
                    <div class="card-body">
                        <!-- <h5 class="card-title">{{ phase.title }}</h5> -->
                        <p class="card-text">{{ phase ? phase.description : selectedEmptyStatePhase.description }}</p>
                    </div>
                </div>
            </ng-template>
    
            <div class="eq-parenthover row bg-white py-4 row align-items-center mb-1"
                 *ngFor="let assessment of courseData.assessments;let i = index; trackBy:trackSelectionsByassessmentPhases">
    
                <div class="justify-content-between flex-even">
                    <button (click)="navigateToAssessment(assessment.id)"
                            class="ml-3 btn btn-outline-light border-2 btn-lg text-dark text-left text-truncate overflow-hidden">{{
                        assessment.title }}</button>
    
                    <button title="bewerk naam"
                            ngbTooltip="Pas naam aan"
                            (click)="editTitle(confirmEditTitle, assessment); $event.stopPropagation()"
                            class="eq-hovered  mr-auto px-4 btn border-0 text-dark mdi mdi-pencil"></button>
                </div>
    
                <div class="d-flex justify-content-center flex-even"
                     *ngFor="let phase of assessment.phases; let i = index; trackBy:trackSelectionsByassessmentPhases ">
                    <app-satisfaction-indicator class="mr-2 cursor-pointer"
                                                placement="top"
                                                (click)="navigateToAssessment(assessment.id, phase.phaseType, response.claimId )"
                                                [ngbTooltip]="response.claimText"
                                                *ngFor="let response of phase.responses; trackBy: trackSelectionsByResponse"
                                                [value]="response.response"
                                                [satisfactionLevel]="response.satisfactionLevel">
                    </app-satisfaction-indicator>
                </div>
    
                <div class="d-flex flex-even">
    
                    <button title="Verwijder toets"
                            ngbTooltip="Verwijder toets"
                            (click)="deleteAssessment(confirmDeleteAssessment, assessment); $event.stopPropagation();"
                            class="eq-hovered ml-auto btn btn-outline-secondary text-dark mdi mdi-delete mr-4"></button>
                </div>
            </div>
    
            <div class="row mt-5 position-relative">
    
                <div style="top: -40px; width:300"
                     *ngIf="courseData.assessments.length == 0"
                     class="position-absolute">
                    <div role="tooltip"
                         style="width:190px"
                         class="popover bs-popover-top"
                         id="ngb-popover-0">
                        <div class="arrow"></div>
                        <!-- <h3 class="popover-header">Maak hier een toets aan</h3> -->
                        <div class="popover-body">
                            <h3 class="m-0 p-0">Maak hier je toets aan</h3>
                        </div>
                    </div>
                </div>
    
                <button data-toggle="tooltip"
                        title="Nieuwe toets"
                        (click)="addAssessment(courseData.assessments.length)"
                        class="btn btn-dark my-2">+ Toets</button>
            </div>
        </div>
    
        <footer class="footer">
            <div class="container-fluid d-flex align-items-center justify-content-end p-4">
               
            </div>
        </footer>
    
        <ng-template #confirmEditTitle
                     let-modal>
            <div class="modal-header">
                <h5 class="modal-title"
                    id="modal-basic-title">{{ 'MODAL_HEADER_EDIT_NAME' | translate }}</h5>
                <button type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate
                      (ngSubmit)="onSubmit()"
                      id="ngForm"
                      #editnameForm="ngForm">
                    <input id="myNameField"
                           [(ngModel)]="assessmentEdited.title"
                           name="title"
                           class="form-control" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="modal.close()">{{ 'BUTTON_CANCEL' | translate }}</button>
                <button type="submit"
                        form="ngForm"
                        [disabled]="(!editnameForm.form.valid)"
                        class="btn btn-dark">Wijzig</button>
            </div>
        </ng-template>
    
    
    
        <ng-template #confirmDeleteAssessment
                     let-modal
                     let-c="close"
                     let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="modal-basic-title">{{ 'ACTION_DELETE' | translate }} {{ assessmentEdited.title }}</h5>
                <button type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <p><strong>{{ 'CONFIRM_DELETE_ARE_YOU_SURE' | translate:{ value : assessmentEdited.title } }}</strong></p> -->
                <p>{{ 'CONFIRM_ALL_DATA_DELETED' | translate:{ value: 'de toets' } }}
                </p>
                <p class="text-danger">{{ 'CONFIRM_CANNOT_BE_UNDONE' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-dark border-2"
                        (click)="modal.close()">{{ 'BUTTON_CANCEL' | translate }}</button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="modal.close('Ok click')">{{ 'BUTTON_DELETE' | translate }}</button>
            </div>
        </ng-template>